/* 
.app_content div {
    outline: 1px solid greenyellow;
} */

.app_content {
    display: flex;
    flex-direction: column;
}

@media (min-width: 700px) {
    .app_content {
        flex-direction: row;
        flex-wrap: nowrap;
        height: fit-content;
        justify-content: center;
    }
}