@font-face {
    font-family: 'geologica';
    src: url(../../font/Geologica/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}

@font-face {
    font-family: 'jura';
    src: url(../../font/Jura/Jura-VariableFont_wght.ttf);
}

/* .data_container * {
    outline: 1px solid greenyellow;
} */

.data_container,
.buttons {
    display: flex;
    overflow-x: clip;
}

.data_container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    gap: 20px;
}

.app_name {
    font-family: 'jura';
    font-size: clamp(15px, 3.5vw, 3.5vw);
    font-weight: 900;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.data_wrapper {
    display: flex;
    flex-direction: column;
}

.sections_container {
    display: flex;
    justify-content: flex-start;
}

.gen {
    transform: translateX(33.333333%);
    /* transform: translateX(-33.333333%); */
    transition: all 0.2s ease-in;
}

.soc {
    transform: translateX(0%);
    transition: all 0.2s ease-in;
}

.edu {
    transform: translateX(-33.333333%);
    transition: all 0.2s ease-in;
}

.section_wrapper {
    display: flex;
    justify-content: center;
}

.buttons {
    font-family: 'geologica';
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.btn_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
    color: white;
    cursor: pointer;
}

.img_container img {
    width: clamp(30px, 8vw, 8vw);
    filter: invert(100%);
    align-self: center;
}

.text {
    text-align: center;
    font-size: clamp(10px, 2vw, 2vw);
    line-height: 12px;
    padding: 0px 10px;
    overflow-wrap: break-word;
}