@font-face {
    font-family: 'geologica';
    src: url(../../font/Geologica/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}

@font-face {
    font-family: 'jura';
    src: url(../../font/Jura/Jura-VariableFont_wght.ttf);
}

/* .form_container div {
    outline: 1px solid greenyellow;
} */

.data_container,
.buttons {
    display: flex;
}

.data_container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    gap: 20px;
}

.app_name {
    font-family: 'jura';
    font-size: clamp(15px, 3.5vw, 3.5vw);
    font-weight: 900;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons {   
    font-family: 'geologica';
    margin-bottom: 40px;
}