@font-face {
    font-family: 'geologica';
    src: url(../../font/Geologica/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}

@font-face {
    font-family: 'jura';
    src: url(../../font/Jura/Jura-VariableFont_wght.ttf);
}

/* .data_container * {
    outline: 1px solid greenyellow;
} */

.data_container,
.buttons {
    display: flex;
}

.data_container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: fit-content;
    gap: 20px;
    overflow-x: clip;
    background-color: rgb(74, 72, 75);
}

.app_name {
    font-family: 'jura';
    font-size: clamp(15px, 3.5vw, 3.5vw);
    font-weight: 900;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
}

.data_wrapper {
    display: flex;
    flex-direction: column;
}

.sections_container {
    display: flex;
    justify-content: flex-start;
}

.gen {
    transform: translateX(40%);
    transition: all 0.2s ease-in;
}

.soc {
    transform: translateX(20%);
    transition: all 0.2s ease-in;
}

.edu {
    transform: translateX(0%);
    transition: all 0.2s ease-in;
}

.ski {
    transform: translateX(-20%);
    transition: all 0.2s ease-in;
}

.exp {
    transform: translateX(-40%);
    transition: all 0.2s ease-in;
}

.section_wrapper {
    display: flex;
    justify-content: center;
}

.buttons {
    font-family: 'geologica';
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

input:enabled,
textarea:enabled {
    background-color: rgb(255, 234, 204);
}

@media (min-width: 700px) {
    .data_container{
        width: clamp(350px, 50%, 490px);
        margin-top: 6vh;
    }

    .app_name {
        position: absolute;
        top: 0px;
        left: 30%;
        right: 30%;
        font-size: clamp(24px, 24px, 25px);
    }

}