@font-face {
    font-family: 'geologica';
    src: url(../../font/Geologica/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}

@font-face {
    font-family: 'jura';
    src: url(../../font/Jura/Jura-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'lubrifont';
    src: url(../../font/WDXL_Lubrifont_TC/WDXLLubrifontTC-Regular.ttf);
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px rgb(255, 234, 204) solid;
    width: 100%;
}

.entry_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'lubrifont';
    color: white;
}

.entry_title .remove_btn {
    font-size: 15px;
    margin: 0px;
}

.hidden {
    display: none;
}

.field_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    width: 100%;  
}

label {
    font-family: 'lubrifont';
    color: white;
    font-size: 20px;
}