@font-face {
    font-family: 'geologica';
    src: url(../../font/Geologica/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}

@font-face {
    font-family: 'jura';
    src: url(../../font/Jura/Jura-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'lubrifont';
    src: url(../../font/WDXL_Lubrifont_TC/WDXLLubrifontTC-Regular.ttf);
}

/* * {
    outline: 1px solid greenyellow;
} */

.experience_container {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 5vh;
}

.title {
    font-family: 'lubrifont';
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 287px;
    height: fit-content;
}

.experience_container input {
    font-family: 'geologica';
    font-weight: 300;
    border: none;
}

.experience_container button {
    font-family: 'jura';
    font-weight: 900;
    font-size: 20px;
}

.experience_container .add_entry {
    font-size: 15px;
    margin-top: 15px;
}

button[id="sub"],
button[id="ed"] {
    margin-top: 35px;
}

.shown {
    display: block;
}

.hidden {
    display: none;
}

.shownFlex {
    display: flex;
}

.inactive {
    transform: scaleY(0%);
}