@font-face {
    font-family: 'geologica';
    src: url(../../font/Geologica/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}

@font-face {
    font-family: 'jura';
    src: url(../../font/Jura/Jura-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'lubrifont';
    src: url(../../font/WDXL_Lubrifont_TC/WDXLLubrifontTC-Regular.ttf);
}

/* * {
    outline: 1px solid rgb(39, 164, 236);
} */

.mockup * {
    display: flex;
    box-sizing: border-box;
}

.mockup,
.top,
.left,
.right,
.summary,
.bottom_left,
.bottom_right,
.social,
.skills,
.education,
.experience,
.soc_content,
.ski_content,
.edu_content,
.exp_content,
.edu_left,
.edu_right,
.exp_left,
.exp_right {
    flex-direction: column;
}

.mockup {
    background-color: rgb(255, 234, 204);
}

.firstname,
.lastname {
    font-size: 5vw;
    font-weight: 600;
    letter-spacing: 0.1vw;
}

.profession,
.summary .title {
    font-size: 2.7vw;
    font-weight: 600;
}

.profession {
    letter-spacing: 0.2vw;
    font-weight: 300;
}

.summary_content {
    font-size: 2vw;
    line-height: 3vw;
    font-family: 'geologica';
    font-weight: 300;
}

.location,
.phone,
.email {
    align-items: center;
    justify-self: flex-start;
    gap: 1vw;
}

.location_data,
.phone_data,
.email_data {
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2vw;
    text-align: start;
}

.mockup {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    aspect-ratio: 1/1.411124547;
}

.top {
    height: 50vw;
    padding: 2vw;
}

.header {
    background-color: rgb(94, 52, 133);
    color: white;
    justify-content: flex-start;
    align-items: center;
    height: 45%;
    margin-top: 5%;
    font-family: 'lubrifont';
}

.left {
    height: 100%;
    justify-content: center;
    gap: 5%;
    margin-left: 3vw;
    min-width: 33.3333%;
    width: fit-content;
}

.center {
    margin-right: 7vw;
}

.center img {
    text-align: center;
    line-height: 14vh;
    border: 0.5vw solid white;
    border-radius: 50%;
    height: 27vw;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.right {
    height: 100%;
    justify-content: center;
    gap: 1vw;
    margin-right: 1vw;
}

.right img {
    filter: invert(100%);
    width: 3vw;
}

.summary .title {
    margin-top: 3%;
    margin-bottom: 2%;
    padding-bottom: 1%;
    border-bottom: 0.4vw solid rgb(106, 106, 255);
    width: fit-content;
    padding-right: 4vw;
    font-family: 'geologica';
}

.bottom {
    height: 120vw;
    padding: 2vw 2vw 4vw;
}

.bottom_left,
.bottom_right {
    width: 50%;
}

.bottom_right {
    padding-left: 2vw;
    border-left: 0.4vw solid rgb(106, 106, 255);
}

.social,
.skills {
    height: 30%;

}

.education {
    height: 40%;
}

.experience {
    height: 100%;
}

.social .title,
.skills .title,
.education .title,
.experience .title {
    font-size: 2.7vw;
    padding-bottom: 1%;
    border-bottom: 0.4vw solid rgb(106, 106, 255);
    width: fit-content;
    padding-right: 4vw;
    font-family: 'geologica';
    font-weight: 600;
}

.soc_content,
.ski_content {
    height: 87%;
    max-height: 87%;
    flex-flow: column;
    flex-wrap: wrap;
    padding-top: 1vw;
    font-weight: 300;
}

.edu_content {
    height: 100%;
    font-size: 2.2vw;
    gap: 3vw;
    padding-top: 2vw;
    font-weight: 300;
    color: rgb(97, 97, 97);
}

.edu_item {
    gap: 3vw;
    justify-content: flex-start;
}

.soc_content div,
.ski_content div {
    height: 24%;
    width: 50%;
    margin-bottom: 2%;
    align-items: center;
}

.edu_item .bold_italic {
    font-style: italic;
    font-weight: 600;
    color: black;
}

.soc_item,
.ski_item {
   gap: 1vw;
   align-items: center;
   margin-top: 0.7vw;
}

.ski_name {
    line-height: 2.5vw;
    padding-top: 1vw;
    min-width: 70%;    
}

.soc_img,
.ski_img {
    aspect-ratio: 1/1;
    width: 3vw;
    filter: invert(33%);
}

.soc_item .soc_link {
    margin: 0px;
    font-size: 2.2vw;
    width: fit-content;
    height: fit-content;
    transform: translateY(15%);
}

.ski_content .ski_item {
    font-size: 2.2vw;
    line-height: 3.5vw;
}

.soc_content,
.ski_content,
.edu_content,
.exp_content {
    font-family: 'geologica';
}

.edu_left,
.edu_right {
    gap: 0.5vw;
    justify-content: flex-end;
    align-items: flex-start;
}

.edu_left {
    min-width: 30%;
    max-width: 30%;
}

.exp_content {
    height: 100%;
    font-size: 2.2vw;
    font-weight: 300;
    color: rgb(97, 97, 97);
}

.exp_item {
    width: 100%;
    padding: 3vw 0px;
    gap: 1vw;
}

.exp_right {
    line-height: 3vw;
}

.exp_left {
    gap: 1vw;
}

.exp_left {
    min-width: 35%;
}

.exp_left div {
    width: fit-content;
}

.exp_right div:nth-child(1) {
    color: black;
    font-weight: 600;
}

.mockup ul {
    display: block;
    line-height: 3vw;
}

li {
    color: black;
}

@media (min-width: 700px) {
    .mockup {
        width: clamp(350px, 50%, 490px);
        height: fit-content;
        margin-top: 6.5vh;
    }

    .firstname,
    .lastname {
        font-size: clamp(17.5px, 2.5vw, 24.5px);
        letter-spacing: clamp(0.35px, 0.05vw, 0.49px);
    }

    .profession,
    .summary .title {
        font-size: clamp(9.8px, 1.4vw, 13.72px);
    }

    .profession {
        letter-spacing: clamp(0.35px, 0.05vw, 0.49px);
    }

    .summary_content {
        font-size: clamp(7px, 1vw, 9.8px);
        line-height: clamp(7.7px, 1.1vw, 10.78px);
    }

    .location,
    .phone,
    .email {
        gap: clamp(1.75px, 0.25vw, 2.5px);
    }

    .location_data,
    .phone_data,
    .email_data {
        font-size: clamp(7px, 1vw, 9.8px);
    }

    .top {
        height: clamp(175px, 25vw, 250px);
        padding: clamp(7px, 1vw, 9.8px);
    }

    .header {
        height: 45%;
        margin-top: 5%;
    }

    .left {
        height: 100%;
        gap: 5%;
        margin-left: clamp(9.8px, 1.4vw, 13.72px);
        min-width: 33.3333%;
        width: fit-content;
    }

    .center {
        margin-right: clamp(24.5px, 3.5vw, 35px);
    }

    .center img {
        border: clamp(2px, 0.25vw, 2.5px) solid white;
        height: clamp(98px, 14vw, 140px);
    }

    .right {
        height: 100%;
        gap: clamp(3.5px, 0.5vw, 5px);
        margin-right: clamp(3.5px, 0.5vw, 5px);
    }

    .right img {
        width: clamp(10.5px, 1.5vw, 15px);
    }

    .summary .title {
        margin-top: 3%;
        margin-bottom: 2%;
        padding-bottom: 1%;
        border-bottom: clamp(1.4px, 0.2vw, 2px) solid rgb(106, 106, 255);
        width: fit-content;
        padding-right: clamp(14px, 2vw, 20px);
    }

    .bottom {
        height: clamp(420px, 60vw, 600px);
        padding: clamp(7px, 1vw, 9.8px) clamp(7px, 1vw, 9.8px) clamp(14px, 2vw, 20px);
    }

    .bottom_left,
    .bottom_right {
        width: 50%;
    }

    .bottom_right {
        padding-left: clamp(7px, 1vw, 9.8px);
        border-left: clamp(1.4px, 0.2vw, 2px) solid rgb(106, 106, 255);
    }

    .social,
    .skills {
        height: 30%;

    }

    .education {
        height: 40%;
    }

    .experience {
        height: 100%;
    }

    .social .title,
    .skills .title,
    .education .title,
    .experience .title {
        font-size: clamp(9.8px, 1.4vw, 13.72px);
        padding-bottom: 1%;
        border-bottom: clamp(1.4px, 0.2vw, 2px) solid rgb(106, 106, 255);
        width: fit-content;
        padding-right: clamp(14px, 2vw, 20px)
    }

    .soc_content,
    .ski_content {
        height: 87%;
        max-height: 87%;
        padding-top: clamp(3.5px, 0.5vw, 5px);
    }

    .edu_content {
        height: 100%;
        font-size: clamp(7.7px, 1.1vw, 10.78px);
        gap: clamp(10.5px, 1.5vw, 15px);
        padding-top: clamp(7px, 1vw, 9.8px);
    }

    .edu_item {
        gap: clamp(10.5px, 1.5vw, 15px);
    }

    .soc_content div,
    .ski_content div {
        height: 24%;
        width: 50%;
        margin-bottom: 2%;
    }

    .soc_item,
    .ski_item {
       gap: clamp(3.5px, 0.5vw, 5px);
       margin-top: clamp(2.45px, 0.35vw, 3.5px);
    }

    .ski_name {
        line-height: clamp(8.75px, 1.25vw, 12.5px);
        padding-top: clamp(3.5px, 0.5vw, 5px);
        min-width: 70%;
    }

    .soc_img,
    .ski_img {
        width: clamp(10.5px, 1.5vw, 15px);
    }

    .soc_item .soc_link {
        margin: 0px;
        font-size: clamp(7.7px, 1.1vw, 10.78px);
        width: fit-content;
        height: fit-content;
    }

    .ski_content .ski_item {
        font-size: clamp(7.7px, 1.1vw, 10.78px);
        line-height: clamp(12.25px, 1.75vw, 17.5px);
    }

    .edu_left,
    .edu_right {
        gap: clamp(1.75px, 0.25vw, 2.5px);
    }

    .edu_left {
        min-width: 30%;
        max-width: 30%;
    }

    .exp_content {
        height: 100%;
        font-size: clamp(7.7px, 1.1vw, 11px);
    }
    
    .exp_item {
        width: 100%;
        padding: clamp(10.5px, 1.5vw, 15px) 0px;
        gap: clamp(3.5px, 0.5vw, 5px);
    }
    
    .exp_right {
        line-height: clamp(10.5px, 1.5vw, 15px);
    }
    
    .exp_left {
        gap: clamp(3.5px, 0.5vw, 5px);
    }

    .mockup ul {
        line-height: clamp(10.5px, 1.5vw, 15px);
    }
}