@font-face {
    font-family: 'geologica';
    src: url(../../font/Geologica/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}

@font-face {
    font-family: 'jura';
    src: url(../../font/Jura/Jura-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'lubrifont';
    src: url(../../font/WDXL_Lubrifont_TC/WDXLLubrifontTC-Regular.ttf);
}

/* * {
    outline: 1px solid rgb(39, 164, 236);
} */

.mockup * {
    display: flex;
    box-sizing: border-box;
}

.mockup ul {
    display: block;
    line-height: 3vw;
}

.mockup,
.top,
.left,
.right,
.summary,
.bottom_left,
.bottom_right,
.social,
.skills,
.education,
.experience,
.soc_content,
.ski_content,
.edu_content,
.exp_content,
.edu_left,
.edu_right,
.exp_left,
.exp_right {
    flex-direction: column;
}

.firstname,
.lastname {
    font-size: 5vw;
    font-weight: 600;
    letter-spacing: 0.1vw;
}

.profession,
.summary .title {
    font-size: 2.7vw;
    font-weight: 600;
}

.profession {
    letter-spacing: 0.2vw;
    font-weight: 300;
}

.summary_content {
    font-size: 2vw;
    line-height: 3vw;
    font-family: 'geologica';
    font-weight: 300;
}

.location,
.phone,
.email {
    align-items: center;
    justify-self: flex-start;
    gap: 1vw;
}

.location_data,
.phone_data,
.email_data {
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2vw;
    text-align: start;
}

.mockup {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    aspect-ratio: 1/1.411124547;
}

.top {
    height: 50vw;
    padding: 2vw;
}

.header {
    background-color: rgb(94, 52, 133);
    color: white;
    justify-content: flex-start;
    align-items: center;
    height: 45%;
    margin-top: 5%;
    font-family: 'lubrifont';
}

.left {
    height: 100%;
    justify-content: center;
    gap: 5%;
    margin-left: 3vw;
    min-width: 33.3333%;
    width: fit-content;
}

.center {
    margin-right: 7vw;
}

.center img {
    text-align: center;
    border: 0.5vw solid white;
    border-radius: 50%;
    height: 27vw;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.right {
    height: 100%;
    justify-content: center;
    gap: 1vw;
    margin-right: 1vw;
}

.right img {
    filter: invert(100%);
    width: 3vw;
}

.summary .title {
    margin-top: 3%;
    margin-bottom: 2%;
    padding-bottom: 1%;
    border-bottom: 0.4vw solid rgb(106, 106, 255);
    width: fit-content;
    padding-right: 4vw;
    font-family: 'geologica';
}

.bottom {
    height: 120vw;
    padding: 2vw 2vw 4vw;
}

.bottom_left,
.bottom_right {
    width: 50%;
}

.bottom_right {
    padding-left: 2vw;
    border-left: 0.4vw solid rgb(106, 106, 255);
}

.social,
.skills {
    height: 30%;

}

.education {
    height: 40%;
}

.experience {
    height: 100%;
}

.social .title,
.skills .title,
.education .title,
.experience .title {
    font-size: 2.7vw;
    padding-bottom: 1%;
    border-bottom: 0.4vw solid rgb(106, 106, 255);
    width: fit-content;
    padding-right: 4vw;
    font-family: 'geologica';
    font-weight: 600;
}

.soc_content,
.ski_content {
    height: 87%;
    max-height: 87%;
    flex-flow: column;
    flex-wrap: wrap;
    padding-top: 1vw;
    font-weight: 300;
}

.edu_content {
    height: 100%;
    font-size: 2.2vw;
    gap: 3vw;
    padding-top: 2vw;
    font-weight: 300;
    color: rgb(97, 97, 97);
}

.edu_item {
    gap: 3vw;
    justify-content: flex-start;
}

.soc_content div,
.ski_content div {
    height: 24%;
    width: 50%;
    margin-bottom: 2%;
    align-items: center;
}

.edu_item .bold_italic {
    font-style: italic;
    font-weight: 600;
    color: black;
}

.soc_item,
.ski_item {
   gap: 1vw;
   align-items: center;
   margin-top: 0.7vw;
}

.ski_name {
    line-height: 2.5vw;
    padding-top: 1vw;
    min-width: 70%;    
}

.soc_img,
.ski_img {
    aspect-ratio: 1/1;
    width: 3vw;
    filter: invert(33%);
}

.soc_item .soc_link {
    margin: 0px;
    font-size: 2.2vw;
    width: fit-content;
    height: fit-content;
    transform: translateY(15%);
}

.ski_content .ski_item {
    font-size: 2.2vw;
    line-height: 3.5vw;
}

.soc_content,
.ski_content,
.edu_content,
.exp_content {
    font-family: 'geologica';
}

.edu_left,
.edu_right {
    gap: 0.5vw;
    justify-content: flex-end;
    align-items: flex-start;
}

.edu_left {
    min-width: 30%;
    max-width: 30%;
}

.exp_content {
    height: 100%;
    font-size: 2.2vw;
    font-weight: 300;
    color: rgb(97, 97, 97);
}

.exp_item {
    height: fit-content;
    padding: 3vw 2vw;
    gap: 3vw;
}

.exp_left,
.exp_right {
    gap: 1vw;
}

.exp_left {
    text-wrap: nowrap;
}

.exp_right div:nth-child(1) {
    color: black;
    font-weight: 600;
}

li {
    color: black;
    font-size: 2vw;
}