.btn_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
    color: white;
    cursor: pointer;
}

.img_container img {
    width: clamp(30px, 8vw, 8vw);
    filter: invert(100%);
    align-self: center;
}

.text {
    text-align: center;
    font-size: clamp(10px, 2vw, 2vw);
    line-height: 12px;
    padding: 0px 10px;
    overflow-wrap: break-word;
}

@media (min-width: 700px) {

    .btn_container {
        width: 1.8%;
    }

    .img_container img {
        width: clamp(30px, 5vw, 50px);
    }

    .text {
        font-size: clamp(10px, 1.2vw, 13px);
        line-height: clamp(15px, 1.3vw, 20px);
    }

}