.btn_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
    color: #ffeacc;
    cursor: pointer;
}

.btn_container:hover {
    transform: scale(110%, 110%);
    transition: 0.2s ease-in-out;
}

.img_container img {
    width: clamp(30px, 8vw, 8vw);
    filter: invert(95%) sepia(5%) saturate(2486%) hue-rotate(313deg) brightness(103%) contrast(104%);
    align-self: center;
}

.text {
    text-align: center;
    font-size: clamp(10px, 2vw, 2vw);
    line-height: 12px;
    padding: 0px 10px;
    overflow-wrap: break-word;
}

.chosen {
    filter: saturate(500%);
    transition: 0.1s ease-in-out;
}

@media (min-width: 700px) {

    .btn_container {
        width: clamp(6.3px, 70px, 100px);
    }

    .img_container img {
        width: clamp(30px, 5vw, 40px);
    }

    .text {
        font-size: 10px;
        line-height: 16px
    }

}